<h4>Agregar dirección</h4>

<form class="row" (ngSubmit)="emitirDireccion()">

  <input 
    type="text"   
    [(ngModel)]="direccion.calle"
    name="calle"
    class="form-control mb-2" 
    placeholder="Calle*">

  <input 
    type="number" 
    [(ngModel)]="direccion.numero" 
    name="numero"
    class="form-control mb-2" 
    placeholder="Número*">

  <input 
    type="text"   
    [(ngModel)]="direccion.departamento" 
    name="departamento"
    class="form-control mb-2" 
    placeholder="Depto">

  <input 
    type="text"   
    [(ngModel)]="direccion.piso" 
    name="piso"
    class="form-control mb-2" 
    placeholder="Piso">

  <button type="submit" class="btn btn-primary">
    Agregar
  </button>

</form>
